@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Website was created by Mads Jensen 4th semester student in Computer Science in the elective course Database</p>
